// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.vhdl-linter {
}
.vhdl-browser {
  font-family: var(--editor-font-family);
  transition: all 0.5s;
  width: 200px;
  padding: 10px;
  height: 100%;
}
.vhdl-entity-name {
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  margin-top: -10px;

}
.vhdl-generic {
  color: purple;
}
.vhdl-browser div {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.vhdl-port-in {
  color: #ff5050;
}
.vhdl-port-in::before {
  content: "➡️";
}
.vhdl-port-out::after {
  content: "➡️";
}
.vhdl-port-inout {
  text-align: center;
}
.vhdl-port-out {
  color: green;
  text-align: right;
}
.vhdl-signal {
  color: #9090FF;
}
.vhdl-list-header-show {
  cursor: pointer;
}
.vhdl-signal-constant {
  color: purple;
}
.vhdl-signal-register {
  color: #d1d131;
}
.vhdl-scroll {
  height: ~"calc(100% - 10px)";
  overflow: auto !important;
}
.vhdl-list-header {
  font-size: 14px;
}
.vhdl-list-header-show, .vhdl-list-header-sort {
  cursor: pointer;
}
.vhdl-list-header-sort {
  float: right;
  display: inline-block;
}
.vhdl-instantiation {
  color: purple;
}
.vhdl-list-body {
  height: auto;
  transition: height 0.25s;
}
.vhdl-list-header-show::before {
  content: "▶";
  transform: rotate(90deg);
  transition: transform 0.25s;
  display: inline-block;
  margin-right: 3px;
}
.vhdl-body-hidden .vhdl-list-header-show::before {
  transform: rotate(0deg);
}
.vhdl-body-hidden .vhdl-list-body {
  height: 0;
  overflow: hidden;
}
.vhdl-type::before {
  content: ' ';
    display: inline-block;
    width: 4ch;
    /* overflow: hidden; */
    /* writing-mode: vertical-rl; */
    font-size: 70%;
    text-align: center;
}
.vhdl-type-std_logic::before {
  content: "sl";
}
.vhdl-type-std_ulogic::before {
  content: "sl";
}
.vhdl-type-std_logic_vector::before {
  content: "slv";
}
.vhdl-type-std_ulogic_vector::before {
  content: "slv";
}
.vhdl-type-integer::before {
  content: "int";
}
.vhdl-type-positive::before {
  content: "pos";
}
.vhdl-type-unsigned::before {
  content: "uns";
}